@font-face {
  font-family: 'Poppins Bold';
  src: url('../assets/fonts/poppins-v20-latin-700.woff2') format('woff2');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins-v20-latin-regular.woff2') format('woff2');
  font-weight: normal;
  font-display: fallback;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body, a, time {
  color: #505a5f;
  font-family: Poppins, sans-serif;
  letter-spacing: .5px;
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  color: #37474F;
  font-family: 'Poppins Bold', sans-serif;
}

header {
  width: 100%;
  height: 70px;
  padding: 0 25px;
  border-bottom: 1px solid rgb(221 221 221);
}

header .content-delimiter-header {
  margin: 0 auto;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header figure {
  display: grid;
  place-content: center;
}

header figure img {
  width: 30px;
  border-radius: 10px;
}

header nav button {
  border: none;
  background-color: transparent;
}

header nav .header-menu-navbar {
  width: 100%;
  height: 0;
  overflow: hidden;
}

header nav .header-menu-navbar li {
  display: none;
}

header nav .show-menu {
  height: 16rem;
  margin-top: 14px;
  text-align: center;
  background-color: rgb(243, 243, 243);
  position: absolute;
  left: 0;
  transition: all .4s linear;
}

header nav .show-menu li {
  display: block;
  list-style: none;
  line-height: 50px;
}

header nav ul li a {
  display: block;
  font-size: 1.6rem;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: #2196F3;
  text-decoration-thickness: 2px;
}

/* ======================================== main - presentaion ======================================== */

main .content-delimiter {
  width: 100%;
  display: grid;
  justify-content: center;
  gap: 30px;
}

main .content-delimiter-presentation {
  width: 100%;
  height: 100%;
  display: grid;
  align-content: space-evenly;
}

main .main-presentation {
  width: 100%;
  padding: 25px;
  height: calc(100vh - 70px);
  min-height: 450px;
}

main .main-presentation article h1 {
  font-size: 3.3rem;
  word-spacing: 2px;
}

main .main-presentation article h2 {
  font-size: 2.2rem;
  margin-top: -12px;
  color: #E76161;
  word-spacing: 2px;
  letter-spacing: 2.8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main :is(.main-presentation article, .main-about .about-me) p {
  margin-top: 15px;
  font-size: 1.5rem;
  letter-spacing: 0.8px;
}

main .main-presentation figure {
  width: 100%;
  max-width: 325px;
  display: grid;
  place-content: center;
  background-image: radial-gradient(circle, #9fc1ff, #d9e7fd, #ffffff, transparent);
}

main .main-presentation figure img {
  width: 220px;
}

/* ======================================== main - about ======================================== */

main :is(.main-about, .main-skills, .main-projects) {
  padding: 25px;
}

main :is(.main-about, .main-skills, .main-projects) h3 {
  font-size: 2.5rem;
  word-spacing: 2px;
}

main .main-about :is(.about-photo, .about-me) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .main-about {
  background-image: linear-gradient(to bottom, #eef6ff, #fafcff, #ffffff, transparent);
}

main .main-about .about-photo picture {
  width: 150px;
  height: 150px;
  display: grid;
  place-content: center;
  border: 2px solid #1B6B93;
  border-radius: 50%;
}

main .main-about .about-photo picture img {
  width: 140px;
  border-radius: 50%;
}

main .main-about .about-photo .about-social-media, footer .footer-container .about-social-media {
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

main .main-about .about-photo .about-social-media a {
  padding: 6px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  display: grid;
  place-content: center;
  background-color: #191847;
  transition: 0.3s;
}

main .main-about .about-photo .about-social-media a:hover,
footer .footer-container .about-social-media a:hover {
  background-color: #025781;
}

main .main-about .about-photo .about-social-media a svg {
  width: 20px;
  height: 20px;
}

main .main-about .about-me {
  align-items: start;
}

main .main-about .about-me a {
  padding: 10px;
  color: white;
  margin-top: 20px;
  font-size: 1.4rem;
  border-radius: 8px;
  background-color: #E76161;
  text-decoration: none;
  transition: 0.3s;
}

main .main-about .about-me a:hover {
  background-color: #FF6969;
}

/* ======================================== main - skills ======================================== */

main .main-skills {
  background-image: url('../assets/images/animated-shape.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

main .main-skills article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 30px;
}

main .main-skills .skills-container span {
  width: 115px;
  padding: 10px;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #c1c1c1;
  gap: 10px;
  transition: all 0.1s linear;
}

main .main-skills .skills-container span:hover {
  animation: shadow-pulse 1s 1;
}

main .main-skills .skills-container span svg {
  width: 30px;
  height: 30px;
}

/* ======================================== main - projects ======================================== */

main .main-projects article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

main .main-projects article a {
  padding: 15px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex-basis: 260px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #c1c1c1;
  box-shadow: 0px 6px 12px 0px #c3c3c3;
  transition: 0.5s;
}

main .main-projects article a:hover {
  translate: 0 -4px;
  border: 1px solid #ffc7c7;
  box-shadow: 0px 6px 12px 0px #ffd0d0;
}

main .main-projects article a h4 {
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
}

main .main-projects article a time {
  color: #8b8b8b;
  font-size: 1.2rem;
  margin-top: -8px;
}

main .main-projects article a span {
  margin: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

main .main-projects article a span svg {
  width: 30px;
  height: 30px;
}

main .main-projects article a p {
  font-size: 1.5rem;
}

/* ======================================== footer ======================================== */

footer {
  width: 100%;
  margin-top: 30px;
  padding: 20px 30px;
  border-top: 1px solid rgb(221 221 221);
  background-color: #efefef;
}

footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-container p {
  font-size: 1.6rem;
  letter-spacing: 0.4px;
  text-align: center;
}

footer .footer-container .about-social-media a {
  padding: 6px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  display: grid;
  place-content: center;
  background-color: #191847;
  transition: 0.3s;
}

footer .footer-container .about-social-media a svg {
  width: 20px;
  height: 20px;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(79, 193, 208, 0.596);
  }
  100% {
    box-shadow: 0 0 4px 12px rgba(27, 255, 244, 0);
  }
}
