@font-face {
  font-family: 'Poppins Bold';
  src: url('../assets/fonts/poppins-v20-latin-700.woff2') format('woff2');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins-v20-latin-regular.woff2') format('woff2');
  font-weight: normal;
  font-display: fallback;
}

:root {
  --color-title: #ffffff;
  --light-gray: #d9d9d9;
  --tomato-color: #EA5455;
  --light-blue: #1f9f98;
  --dark-gray: #3d444d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body, a, button, time {
  color: var(--light-gray);
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  color: var(--color-title);
  font-family: 'Poppins Bold', sans-serif;
}

header {
  width: 100%;
  height: 70px;
  padding: 0 25px;
  border-bottom: 1px solid #9DB2BF;
  background-color: #1B2430;
}

header .content-delimiter-header {
  margin: 0 auto;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header figure {
  display: grid;
  place-content: center;
}

header figure img {
  width: 40px;
  border-radius: 50%;
  border: 1px solid var(--light-gray);
}

header nav button {
  border: none;
  background-color: transparent;
}

header nav .header-menu-navbar {
  width: 100%;
  height: 0;
  overflow: hidden;
}

header nav .header-menu-navbar li {
  display: none;
}

header nav .show-menu {
  height: 16rem;
  margin-top: 14px;
  text-align: center;
  background-color: #2B3A55;
  position: absolute;
  left: 0;
  transition: all .4s linear;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 2px solid #2b88a1;
}

header nav .show-menu li {
  display: block;
  list-style: none;
  line-height: 50px;
}

header nav ul li a {
  display: block;
  font-size: 1.6rem;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: #2196F3;
  text-decoration-thickness: 1px;
}

/* ======================================== main - presentaion ======================================== */

main .content-delimiter {
  width: 100%;
  display: grid;
  justify-content: center;
  gap: 30px;
}

main .content-delimiter-presentation {
  width: 100%;
  height: 100%;
  display: grid;
  align-content: space-evenly;
}

main .main-presentation {
  width: 100%;
  padding: 25px;
  height: calc(100dvh - 70px);
  min-height: 450px;
  background-color: #1B2430;
}

main .main-presentation article h3 {
  margin-bottom: 15px;
  color: var(--light-gray);
  font-size: 2rem;
}

main .main-presentation article h1 {
  font-size: 3.3rem;
  margin-top: -5px;
  word-spacing: 2px;
}

main .main-presentation article h2 {
  font-size: 2.2rem;
  margin-top: -12px;
  color: var(--tomato-color);
  word-spacing: 2px;
  letter-spacing: 2.4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main :is(.main-presentation article, .main-about .about-me) p {
  margin-top: 15px;
  font-size: 1.4rem;
  word-spacing: 2px;
  text-wrap: balance;
}

main .main-presentation figure {
  width: 100%;
  max-width: 325px;
  display: grid;
  place-content: center;
  position: relative;
  background-image: radial-gradient(circle, #133d91, #14284f, #1b2430, transparent);
}

main .main-presentation figure img {
  width: 220px;
}

/* ======================================== main - about ======================================== */

main :is(.main-about, .main-skills, .main-projects) {
  padding: 35px 25px;
}

main :is(.main-about, .main-skills, .main-projects) h3 {
  font-size: 2.5rem;
  word-spacing: 2px;
}

main .main-about :is(.about-photo, .about-me) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .main-about, .main-projects {
  background-color: #181f2a;
}

main .main-about .about-photo picture {
  width: 155px;
  height: 155px;
  display: grid;
  place-content: center;
  border: 2px solid var(--light-blue);
  border-radius: 50%;
}

main .main-about .about-photo picture img {
  width: 140px;
  border-radius: 50%;
}

main .main-about .about-photo .about-social-media,
footer .footer-container .about-social-media {
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

:is(main .main-about .about-photo .about-social-media,
footer .footer-container .about-social-media) a {
  padding: 6px;
  color: #132033;
  border-radius: 10px;
  text-decoration: none;
  display: grid;
  place-content: center;
  background-color: var(--light-blue);
  transition: 0.4s;
}

:is(main .main-about .about-photo .about-social-media,
footer .footer-container .about-social-media) a:hover {
  color: var(--color-title);
  background-color: #1a857f;
}

main .main-about .about-photo .about-social-media a svg {
  width: 20px;
  height: 20px;
}

main .main-about .about-me {
  align-items: start;
}

main .main-about .about-me a {
  padding: 10px;
  color: white;
  margin-top: 20px;
  font-size: 1.4rem;
  border-radius: 8px;
  background-color: var(--tomato-color);
  text-decoration: none;
  transition: 0.3s;
}

main .main-about .about-me a:hover {
  background-color: #e93b3b;
}

/* ======================================== main - skills ======================================== */

main .main-skills {
  background-image: url('../assets/images/animated-shape.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

main .main-skills article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 30px;
}

main .main-skills .skills-container span {
  width: 115px;
  padding: 10px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--dark-gray);
  gap: 10px;
  background-color: rgba(24, 31, 42, 0.5);
  transition: all 0.1s linear;
  box-shadow: 6px 6px 6px #141b25;
  border-radius: 10px;
}

main .main-skills .skills-container span svg {
  width: 30px;
  height: 30px;
}

/* ======================================== main - projects ======================================== */

main .main-projects article {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

main .main-projects article a {
  padding: 15px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex-basis: 260px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid var(--dark-gray);
  box-shadow: 6px 6px 6px #0a121f;
  transition: 0.5s;
}

main .main-projects article a:hover {
  translate: 0 -4px;
  border: 1px solid #5c7292;
  box-shadow: 0px 0px 15px 0px #07809b;
}

main .main-projects article a h4 {
  font-size: 1.5rem;
  letter-spacing: 0.8px;
}

main .main-projects article a time {
  color: #8b8b8b;
  font-size: 1.2rem;
  margin-top: -8px;
}

main .main-projects article a span {
  margin: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

main .main-projects article a span svg {
  width: 30px;
  height: 30px;
}

main .main-projects article a p {
  font-size: 1.4rem;
  text-align: center;
}

main .main-projects article a p span {
  display: inline;
  font-weight: 600;
  color: var(--tomato-color);
}

/* ======================================== footer ======================================== */

footer {
  width: 100%;
  padding: 20px 30px;
  border-top: 1px solid #9DB2BF;
  background-color: #1b2430;
}

footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-container p {
  font-size: 1.4rem;
  letter-spacing: 0.4px;
  text-align: center;
}

footer .footer-container .about-social-media {
  margin-top: 0;
  margin-bottom: 20px;
}

footer .footer-container .about-social-media a svg {
  width: 20px;
  height: 20px;
}
